<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aether Dashboard</title>

    <link rel="stylesheet" href="\static/css/dashboard.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <!-- Sidebar -->

    <aside class="sidebar">

        <div class="logo">

            <div class="logo-dot"></div>

            <h2>Aether</h2>

        </div>

        <ul>

            <li><i class="fa-solid fa-comments"></i> Chats</li>

            <li><i class="fa-solid fa-user-group"></i> Groups</li>

            <li><i class="fa-solid fa-user"></i> Profile</li>

            <li><i class="fa-solid fa-gear"></i> Settings</li>

        </ul>

    </aside>

    <!-- Main -->

    <main class="main-content">

        <!-- Top Bar -->

        <header class="topbar">

            <h2>Realtime Messaging</h2>

            <div class="status">

                <span class="online-dot"></span>

                Online

            </div>

        </header>

        <!-- Chat Area -->

        <section class="chat-area">

            <div class="message received">

                Hey Akshay 👋

            </div>

            <div class="message sent">

                Welcome to Aether 🚀

            </div>

            <div class="message received">

                Dashboard UI is ready 🔥

            </div>

        </section>

        <!-- Message Input -->

        <div class="message-box">

            <input type="text" placeholder="Type your message...">

            <button>

                <i class="fa-solid fa-paper-plane"></i>

            </button>

        </div>

    </main>

    <!-- Right Panel -->

    <aside class="info-panel">

        <div class="profile-card">

            <div class="avatar">

                AS

            </div>

            <h3>Akshay</h3>

            <p>Backend + AI Developer</p>

        </div>

        <div class="card">

            <h4>Activity</h4>

            <p>24 messages today</p>
        </div>

        <div class="card">

            <h4>Future AI</h4>

            <p>Smart reply suggestions</p>

        </div>

    </aside>

    <script src="static/js/dashboard.js"></script>

</body>

</html>